/* style.css */

body {
    text-align: center;
}

h1 {
    font-size: 50rem !important;
}

p {
    font-size: 8rem !important;
}

.t {
    font-size: 12rem !important;
}

h2 {
    font-size: 10rem !important;
}

.hidden {
    display: none;
}

.visible {
    font-size: inherit;
}


.hidden {
    display: none;
}

.visible {
    font-size: inherit;
}
