/* style.css */

body {
    text-align: center;
}

h1 {
    font-size: 7rem !important;
}

p {
    font-size: 1.2rem !important;
}

.t {
    font-size: 2.5rem !important;
}

h2 {
    font-size: 3rem !important;
}

.hidden {
    display: none;
}

.visible {
    font-size: inherit;
}


.hidden {
    display: none;
}

.visible {
    font-size: inherit;
}
